apiVersion: v1
kind: Service
metadata:
  name: beacon
  namespace: beacon
  labels:
    app: beacon
spec:
  type: ClusterIP
  selector:
    app: beacon
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
